.dropdown {
  flex: 1;
  background: rgb(242, 245, 249);
  border-radius: 0.25rem;
  padding: 2rem 3rem;
  height: 80px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: all 1s linear;
  &.active {
    height: fit-content;
    background: #fff4df;
  }
  .top {
    display: flex;
    padding-block: 1rem;
    justify-content: space-between;
    align-items: center;
    .normal {
      cursor: pointer;
      &.rotate {
        transform: rotate(180deg);
      }
    }
    h3 {
      font-size: 2.2rem;
      width: 100%;
      color: #4a5668;
      &.activated {
        color: #0c63e4;
        border: 0.3rem solid rgb(134, 183, 254);
      }
    }
    &:hover {
      background: #fff4df;
      cursor: pointer;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: #4a5668;
  }
}

@media (max-width: 500px) {
  .dropdown {
    // padding: 0;
    height: 100px;

    p {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 280px) {
  .dropdown {
    // padding: 0;
    height: 100px;
    padding: 1rem;
    p {
      margin-top: 3rem;
    }
  }
}
