.sign-up {
  padding-block: 12rem;
  background: #495567 url(../../assets/patterns/semi-circles.svg) no-repeat
    right bottom;
  color: white;
  .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-inline: auto;
    h1 {
      font-size: 3rem;
    }

    .btn-row {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
}

@media (max-width: 1260px){
    .sign-up {
     
        .inner {
            width: 900px;
        }
}}


@media (max-width: 960px){
    .sign-up {
     
        .inner {
            width: unset;
            flex-direction: column;
            padding-inline: 2rem;
            justify-content: center;
            text-align: center;
            gap: 6rem;
           
            .btn-row {
              .img{
                width: 35%;
                margin-inline: auto;
                img{
                  width: 100%;
                }
              }
            }
        }
}}
