.city-listed {
  padding-block: 10rem;
  width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: #495567;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #939caa;
    max-width: 450px;
    
  }
}


@media(max-width:1200px){
  .city-listed {
    width: 900px;
    flex-direction: column;
    gap: 3rem;

    p{
      text-align: center;
      max-width: unset;
      width: 80%;
    }
  }
}