.hero {
  width: 100vw;
  min-height: 80vh;
  background: url(../../assets/images/home-hero-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-section {
    width: 1200px;
    margin-inline: auto;
    padding-block: 20rem;
    color: white;
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.6rem;
      width: 400px;
      line-height: 1.5;
      position: relative;
      padding-left: 8rem;
      margin-block: 3.5rem;
      &::before {
        position: absolute;
        content: url(../../assets/patterns/line.svg);
        left: -45%;
        top: 50%;
        transform: translateY(-50%);
      }
      &::after {
        position: absolute;
        content: url(../../assets/patterns/right-arrow.svg);
        right: -123%;
        top: 42%;
      }
    }

    img {
      position: absolute;
      right: -2%;
      bottom: 35%;
    }

    button {
      margin-left: 8rem;
    }
  }
}

@media (max-width: 1260px) {
  .hero {
    background: url(../../assets/images/home-hero-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-section {
      width: 900px;
      color: white;
      text-align: center;
      padding-block: 15rem;
      margin-inline: auto;
      p {
        padding-left: 0;
        margin-inline: auto;
        width: 70%;
        &::before {
          content: "";
        }
        &::after {
          position: absolute;
          content: url(../../assets/patterns/right-arrow.svg);
          left: -1600px;
          top: 420%;
        }
      }

      img {
        position: absolute;
        right: -2%;
        bottom: 20%;
      }

      button {
        margin-left: 0rem;
      }
    }
  }
}

@media (max-width: 960px) {
  .hero {
    background: url(../../assets/images/home-hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: unset;

    .hero-section {
      width: unset;

      p {
        &::after {
          position: absolute;
          width: 100%;
          content: url(../../assets/patterns/right-arrow.svg);
          left: -70%;
          top: 200%;
        }
      }

      img {
        display: none;
      }

      button {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .hero-section {
      width: unset;
      padding-inline: 2rem;
      p {
        width: 100%;
        &::after {
          position: absolute;
          width: 100%;
          content: url(../../assets/patterns/right-arrow.svg);
          top: 140%;
        }
      }

      img {
        display: none;
      }

      button {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 280px) {
  .hero {
    .hero-section {
      p {
        width: 100%;
        &::after {
          content: "";
        }
      }
    }
  }
}
