.pack {
  padding-block: 10rem;
  width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
    background: #f2f5f9;

    .card-inner-left {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      color: rgb(73, 85, 103);
      .title {
        font-weight: 600;
        font-size: 1.8rem;
      }
      .find {
        font-size: 1.6rem;
        font-weight: 200;
        margin-left: 1.3rem;
      }
    }

    button {
      padding: 1.8rem 9rem;
    }
  }
}

@media (max-width: 1200px) {
  .pack {
    padding-block: 10rem;
    width: 900px;

    .card {
      width: 70%;
      margin-inline: auto;
    }
  }
}

@media (max-width: 950px) {
  .pack {
    padding-block: 10rem;
    width: unset;

    .card {
      width: 90%;
      margin-inline: auto;

      .card-inner-left {
        .find {
          margin-left: 0;
        }
      }
    }
  }
}



@media (max-width: 580px) {
  .pack {
    padding-block: 10rem;
    width: unset;

    .card {
      flex-direction: column;
      gap: 3rem;
      text-align: center;
    }
  }
}
