.detail-left {
  // height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-inline: auto;
  padding-block: 10rem;

  .left {
    position: relative;
    &::before {
      content: url(../../assets/patterns/left-upward-arrow.svg);
      position: absolute;
      top: 20%;
      left: -100%;
      transform: rotate(180deg);
    }
    display: flex;
    img {
      border-radius: 50%;
    }
    &::after {
      content: url(../../assets/patterns/circle.svg);
      position: absolute;
      left: -155%;
    }
    img {
      border-radius: 50%;
    }
  }

  .right {
    width: 420px;
    h1 {
      font-size: 3rem;
      color: #4a5668;
    }
    p {
      font-size: 1.6rem;
      margin-block: 5rem;
      line-height: 1.5;
      color: #929baa;
    }
  }
}

@media (max-width: 1260px) {
  .detail-left {
    width: 900px;
    flex-direction: column;
    .left {
      margin-top: unset;
      width: 100%;
      text-align: center;
      img {
        margin-inline: auto;
      }
      p {
        margin-block: 3rem;
      }
      &::before {
        content: url(../../assets/patterns/right-arrow.svg);
        position: absolute;
        transform: rotate(360deg);
        left: -20%;
        top: unset;
        z-index: 1;
      }
      &::after {
        content: url(../../assets/patterns/circle.svg);
        position: absolute;
        left: -55%;
        bottom: 0%;
      }
    }
    .right {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 4rem;
      p {
        margin-block: 3rem;
      }
      &::before {
        content: "";
      }
      &::after {
        content: "";
      }
    }
  }
}

@media (max-width: 940px) {
  .detail-left {
    width: unset;
    padding-inline: 2rem;
    .left {
      margin-top: unset;
      width: 100%;
      img {
        width: 85%;
      }
      &::before {
        content: url(../../assets/patterns/right-arrow.svg);
        position: absolute;
        transform: rotate(360deg);
        left: -20%;
        top: unset;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        left: -55%;
        bottom: 0%;
      }
    }
    .right {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .detail-left {
    .left {
      margin-top: unset;
      width: 100%;
      img {
        width: 90%;
      }
      &::before {
        content: url(../../assets/patterns/right-arrow.svg);
        position: absolute;
        transform: rotate(360deg);
        left: -45%;
        top: unset;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        left: -55%;
        bottom: 0%;
      }
    }
    .right {
      width: 100%;
    }
  }
}

@media (max-width: 280px) {
  .detail-left {
    .left {
      &::before {
        content: "";
      }
    }
  }
}
