$primary-color: hsl(40, 97%, 58%);
$primary-clr-four: hsl(217, 12%, 62%);
$ff-700: 700;

.nav {
  padding-block: 3rem;
  width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

  .left-content {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 1.8rem;
    color: $primary-clr-four;
    font-weight: $ff-700;

    .links {
      color: #929baa;
      &:hover {
        color: $primary-color;
      }
    }

    .menu-bar {
      display: none;
    }
  }
}

@media (max-width: 1260px) {
  .nav {
    width: 900px;
  }
}

@media (max-width: 950px) {
  .nav {
    width: unset;
    padding: 2rem;

    .left-content {
      position: relative;
      width: 100%;
      gap: unset;
      justify-content: space-between;
      .menu-bar {
        display: unset;
      }

      .links {
        display: none;
      }
    }
    button {
      display: none;
    }

    .logo {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
