.location {
  position: relative;
  .placeD {
    width: 100%;
    background-position: center;
  }
  .placeT,.placeM{
    display: none;
  }
  .inner-location{
    width: 1200px;
    margin-inline: auto;
  }
  .circle {
    position: absolute;
    right: -2%;
    top: 50%;
    transform: translateY(-50%);
  }

  p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}


@media(max-width:1260px){
  .location{

    .placeT {
      display: unset;
      width: 100%;
      background-position: center;
    }
    .placeM, .placeD {
      display: none;
    }
    .inner-location{
      width:900px;
    }
  }
}