.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-inline: auto;
  padding-block: 10rem;
  .left {
    width: 40%;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.6rem;
      margin-block: 5rem;
      line-height: 1.5;
    }
  }

  .right {
    position: relative;
    &::before {
      content: url(../../assets/patterns/left-downward-arrow.svg);
      position: absolute;
      top: 50%;
      right: -80%;
    }
    display: flex;
    img {
      border-radius: 50%;
    }
    &::after {
      content: url(../../assets/patterns/circle.svg);
      position: absolute;
      right: -155%;
    }
  }
}

@media (max-width: 1260px) {
  .detail {
    width: 900px;
    flex-direction: column-reverse;
    .left {
      margin-top: 4rem;
      width: 60%;
      text-align: center;

      p {
        margin-block: 3rem;
      }
    }
    .right {
      width: 100%;
      text-align: center;
      &::before {
        content: url(../../assets/patterns/left-downward-arrow.svg);
        position: absolute;
        top: 50%;
        left: -30%;
      }
      display: flex;
      img {
        margin-inline: auto;
        border-radius: 50%;
      }
      &::after {
        content: url(../../assets/patterns/circle.svg);
        position: absolute;
        right: -55%;
      }
    }
  }
}

@media (max-width: 940px) {
  .detail {
    width: unset;
    padding-inline: 2rem;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      margin-inline: auto;
      text-align: center;
      &::before {
        content: url(../../assets/patterns/left-downward-arrow.svg);
        position: absolute;
        top: 50%;
        left: -30%;
      }
      display: flex;
      img {
        width: 85%;
        margin-inline: auto;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        right: -55%;
      }
    }
  }
}

@media (max-width: 500px) {
  .detail {
    .right {
      &::before {
        left: 0%;
      }
      display: flex;
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 280px) {
  .detail {
    .right {
      &::before {
        content: "";
      }
    }
  }
}
