.detail{
    // height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10rem 18%;
    .left{
       width: 40%;
       h1{
        font-size: 3rem;
       }
       p{
        font-size: 1.6rem;
        margin-block: 5rem;
        line-height: 1.5;
       }
    }

    .right{
        // width: 35%;
        position: relative;
        &::before{
            content: url(../../assets/patterns/left-downward-arrow.svg);
            position: absolute;
            top: 50%;
            right: -80%;
            
        }
        display: flex;
        img{
            border-radius: 50%;
        }
        &::after{
            content: url(../../assets/patterns/circle.svg);
            position: absolute;
            right: -155%;
            
        }

    }
}