.footer {
  background: #333a44;
  padding-block: 2%;
  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-inline: auto;
    .left-part {
      display: flex;
      gap: 10rem;
      align-items: center;

      .nav-links {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        color: #939caa;
        font-size: 1.8rem;
      }
    }

    .right-part {
      color: hsl(40, 97%, 58%);
      font-size: 2rem;
      display: flex;
      gap: 2rem;
    }
  }
}

@media (max-width: 1260px) {
  .footer {
    .footer-inner {
        width: 900px;
    }
  }
}
