.map {
  padding-block: 10rem;
  width: 1200px;
  margin-inline: auto;
  .map-cont {
    position: relative;
    .places{
      display: none;
    }
    .desktop {
      width: 100%;
      text-align: center;
      margin-inline: auto;
    }
    .top-right {
      position: absolute;
      background: hsl(40, 97%, 58%);
      width: 120px;
      height: 35px;
      padding: 10px;
      top: 17%;
      right: 10%;
      line-height: 17px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 600;
    }
    .top-right:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border: 10px solid;
      transform: rotate(270deg);
      border-color: transparent hsl(40, 97%, 58%) transparent transparent;
      left: 50%;
      top: 35px;
    }
    .bottom-right {
      position: absolute;
      background: hsl(40, 97%, 58%);
      width: 120px;
      height: 35px;
      padding: 10px;
      bottom: 49%;
      right: 16%;
      line-height: 17px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 600;
    }
    .bottom-right:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border: 10px solid;
      transform: rotate(270deg);
      border-color: transparent hsl(40, 97%, 58%) transparent transparent;
      left: 50%;
      top: 35px;
    }
    .top-left {
      position: absolute;
      background: hsl(40, 97%, 58%);
      width: 120px;
      height: 35px;
      padding: 10px;
      top: 8%;
      right: 53%;
      line-height: 17px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 600;
    }
    .top-left:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border: 10px solid;
      transform: rotate(270deg);
      border-color: transparent hsl(40, 97%, 58%) transparent transparent;
      left: 50%;
      top: 35px;
    }
    .bottom-left {
      position: absolute;
      background: hsl(40, 97%, 58%);
      width: 120px;
      height: 35px;
      padding: 10px;
      top: 17%;
      left: 13%;
      line-height: 17px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 600;
    }
    .bottom-left:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      border: 10px solid;
      transform: rotate(270deg);
      border-color: transparent hsl(40, 97%, 58%) transparent transparent;
      left: 50%;
      top: 35px;
    }
    .tablet,
    .mobile {
      display: none;
    }
    .mobile {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .map {
    padding-block: 10rem;
    width: 900px;

    .map-cont {
      .desktop,
      .mobile {
        display: none;
      }
      .tablet {
        display: unset;
        width: 100%;
        text-align: center;
        margin-inline: auto;
      }
    }
  }
}

@media (max-width: 950px) {
  .map {
    padding-block: 10rem;
    width: unset;
    padding-inline: 2rem;

    .map-cont {
      .desktop,
      .tablet {
        display: none;
      }
      .mobile {
        display: unset;
        width: 100%;
        text-align: center;
        margin-inline: auto;
        padding-bottom: 5rem;
      }
      .top-right,.bottom-right,.top-left,.bottom-left{
        display: none;
      }
      .places{
        padding-top: 3rem;
        display: unset;
        .place{
          width: 80%;
          margin-inline: auto;
          font-size: 2.5rem;
          text-align: center;
          padding-block: 2rem;
          background: #fff4e0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .map {

    .map-cont {
      .places{
        .place{
          width: 95%;
          margin-inline: auto;
          font-size: 2.5rem;
          text-align: center;
          padding-block: 2rem;
          background: #fff4e0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
