.values {
  padding-block: 10rem;
  h1 {
    font-size: 5rem;
    text-align: center;
    color: #495567;
  }
  .value-pack {
    display: flex;
    // justify-content: space-between;
    width: 1200px;
    margin-inline: auto;
    align-items: center;
    padding-top: 6rem;
    gap: 5rem;
  }
}

@media (max-width: 1200px) {
  .values {
    .value-pack {
      flex-direction: column;
      width: 900px;
    }
  }
}


@media (max-width: 960px) {
  .values {
    .value-pack {
      width: unset;
      padding-inline: 2rem;
    }
  }
}
